html, body {
  margin: 0;
  padding: 0;
}
/* ديسكتوب فقط */
@media (min-width: 960px) {

  /* حجم الخط الأساسي أكبر للموقع كله */
  html {
    font-size: 22px; /* بدل 16px الافتراضي */
  }


}
html {
  font-size: 16px; /* الأساس */
}

@media (min-width: 1024px) {
  html {
    font-size: 22px; /* أكبر على الشاشات الكبيرة */
  }
}

@media (max-width: 768px) {
  html {
    font-size: 17px; /* أصغر على الموبايل */
  }
}